body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
h1 {
    color: #3498db;
}

p {
    color: #333;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.container::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: 2px solid #3498db;
    z-index: -1;
}

.main-text {
    background-color: blue;
    color: white;
    padding: 5px;
}

.main-text::selection {
    background-color: skyblue;
}

.main-text::first-letter {
    font-size: 40px;
    color: black;
}

.main-text::first-line {
    background-color: red;
}



