@font-face {
    font-family: "Matias";
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Matias-Webfont.ttf') format('ttf'),
         url('fonts/Matias.otf') format('otf');
    font-display: auto;
}

body {
    font-family: 'Matias', serif;
}