@import url(fonts/fonts.css);
@import url(fonts/font-face.css);

h1 {
    margin: 5px;
    font-size: 32px;
    text-align: center;
    color: red;
}
.h3-fonts-head {
    font-family: 'Oswald', sans-serif;
}

.h3-fonts-import {
    font-display: swap;
    font-family: 'Dhurjati', sans-serif;
}

.h3-fonts-file {
    font-family: Silkscreen-Regular;
    font-weight: 400;
}

.h3-fonts-file-bold {
    font-family: Silkscreen-Bold;
    font-weight: 900;
}